@import "Globals.sass"

.login
    height: 100vh
    line-height: 100vh
    background-color: $dates-theme-color
    color: white
    font-family: 'Euphoria Script'
    span
        display: inline-block
        vertical-align: middle
        line-height: normal
        label
            font-size: $font-big
        input
            margin-left: 20px
            margin-right: 10px
            padding: 8px

        .login-button
            display: inline-block
            padding: 8px
            border-radius: 3px
            color: black
            background-color: $yellow
            font-size: $font-small
            font-family: 'Asap'
            cursor: pointer

.content-box
    width: 50%
    height: 100vh
    line-height: 100vh
    span
        display: inline-block
        vertical-align: middle
        line-height: normal

.left-content
    float: left
    width: 50%
    background-color: $dates-theme-color
    .title
        color: white
        font-family: 'Euphoria Script'
        font-size: $font-very-big
    span
        display: inline-block
        vertical-align: middle
        line-height: normal

.right-content
    position: relative
    float: right
    background-color: $yellow
    font-family: 'Asap'
    .title
        line-height: 25px
        position: absolute
        top: 10%
        text-align: left
        font-size: $font-medium
        color: $dates-theme-color
.send-button
    padding: 8px
    border-radius: 3px
    color: white
    background-color: $dates-theme-color
    font-size: $font-small
    font-family: 'Asap'
    cursor: pointer
    &:hover
        background-color: $dates-dark-color


