@import "Globals.sass"

.date-box
    padding: 5px
    border: 1px solid $hot-pink
    cursor: pointer
    &.selected
        background-color: $dates-theme-color

.available:hover
    background-color: $dates-theme-color
th
    padding: 5px