@import "Globals.sass"

.top-menu
    position: relative
    display: grid
    grid-template-columns: repeat(12, 1fr)
    height: 60px
    padding-right: 20px
    padding-left: 20px
    background-color: rgba($app-theme-color, 0.5)
    text-transform: uppercase
    color: white

    .header-item
        position: relative
        top: 50%
        margin-top: -10px

.logo
    grid-column: 1/3

.search-menu
    grid-column: 3/6

.about-menu
    grid-column: 11

.contact-us-menu
    grid-column: 12
