@import "Globals.sass"

.top-menu
    display: flex
    padding: 20px
    color: $dates-theme-color

    .header-item
        flex: 1
        cursor: pointer
        &:hover
            color: $dates-dark-color

.logo
    text-align: left
    font-size: 50px
    font-family: 'Pacifico'

.contact-us-menu
    text-align: right
