@import "Globals.sass"

.home-container
    .box-layout
        padding-left: 20px
        text-align: left
        font-size: 60px
        color: white
        .sub-title
            font-size: 30px
        .sign-up-box
            margin-top: 20px
            font-size: 25px

.logo
    padding-left: 20px
    text-align: left
    font-size: 50px
    font-family: 'Pacifico'
    color: $dates-theme-color
    &:hover
        color: $dates-dark-color

.home-background
    position: absolute
    left: 0
    top: 0
    height: 100vh
    width: 100%
    z-index: -3
    background: url("../../src/assets/beerwithfriends.png") no-repeat center